body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
}

.calculator {
  background: #0015d3;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
}

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
}

button {
  width: 50px;
  height: 50px;
  margin: 3px;
  font-size: 20px;
  cursor: pointer;
}